$text-color: #000;
$text-color-hover: #FFF;
$font-path: "./fonts/MagistralC/";

@font-face {
  font-family: "Magistral";
  src: url($font-path + "MagistralC_Bold.eot");										/* IE9 Compat Modes */
  src: url($font-path + "MagistralC_Bold.eot?#iefix") format("embedded-opentype"),	/* IE6-IE8 */
  url($font-path + "MagistralC_Bold.woff") format("woff"),							/* Pretty Modern Browsers */
  url($font-path + "MagistralC_Bold.ttf")  format("truetype"),						/* Safari, Android, iOS */
  url($font-path + "MagistralC_Bold.svg#MagistralCBold") format("svg");				/* Legacy iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.branding {
  text-align: center;

  &__made-in {
    font-family: "Magistral", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: $text-color;
    letter-spacing: 0.05em;
    display: inline-block;
  }
}

.smarto {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAXCAYAAADKmiUPAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABFSURBVHgBVYvBDQAhCATXvQdKm9eUtQpGwcSHn02GGfD9q1MdhWIAm2OxJsaAMmJqioOPLWwjcWZnt1N/8Fi16GTmW9w2oU8cfndSj+gAAAAASUVORK5CYII=) repeat-x 0 100%;
  background-size: 100% 0;
  transition: background-size .23s ease-out, color .23s ease-out, background-image .1s linear .13s;
  padding: 0.35em;
  line-height: 0.55em;
  display: inline-block;

  &:hover {
    background-size: 100% 100%;

    .smarto__svg {
      fill: $text-color-hover;
    }
  }
}

.smarto__svg {
  height: 0.55em;
  fill: $text-color;
  transition: fill .23s ease-out;
}
